body {
    font-size: 14px;
    line-height: 10px;
    color:black;
    font-weight: 7px;
    font-family: "Arial", sans-serif;  
}
h1 {
   font-size: 16px;
    line-height: 10px;
    color:black;
    font-weight: 8px;
    font-family: "Arial", sans-serif;  
}
h2 {
   font-size: 14px;
    line-height: 10px;
    color:black;
    font-weight: 8px;
    font-family: "Arial", sans-serif;  
}
/* index */

/* catalog */